<a href="https://colab.research.google.com/github/2303A51087/B03_PFDS_1087/blob/main/Lab_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

data = {
    "TransactionID": [101, 102, 103, 103, 104, 105, 105, 106],
    "Customer": ["Alice", "Bob", "Charlie", "Charlie", "David", "Eve", "Eve", "Frank"],
    "Product": ["Laptop", "Phone", "Tablet", "Tablet", "Headphones", "Monitor", "Monitor", "Keyboard"],
    "Amount": [1200, 800, 500, 500, 200, 300, 300, 100]
}

df = pd.DataFrame(data)

print("---- Original Sales Dataset ----")
print(df)

duplicate_count = df.duplicated().sum()
print("\nNumber of duplicate rows:", duplicate_count)


df_cleaned = df.drop_duplicates()

cleaned_duplicate_count = df_cleaned.duplicated().sum()

print("\n---- Cleaned Sales Dataset ----")
print(df_cleaned)

print("\nNumber of duplicate rows after cleaning:", cleaned_duplicate_count)


print("\nTotal rows before cleaning:", len(df))
print("Total rows after cleaning:", len(df_cleaned))

---- Original Sales Dataset ----
   TransactionID Customer     Product  Amount
0            101    Alice      Laptop    1200
1            102      Bob       Phone     800
2            103  Charlie      Tablet     500
3            103  Charlie      Tablet     500
4            104    David  Headphones     200
5            105      Eve     Monitor     300
6            105      Eve     Monitor     300
7            106    Frank    Keyboard     100

Number of duplicate rows: 2

---- Cleaned Sales Dataset ----
   TransactionID Customer     Product  Amount
0            101    Alice      Laptop    1200
1            102      Bob       Phone     800
2            103  Charlie      Tablet     500
4            104    David  Headphones     200
5            105      Eve     Monitor     300
7            106    Frank    Keyboard     100

Number of duplicate rows after cleaning: 0

Total rows before cleaning: 8
Total rows after cleaning: 6

In [2]:
import pandas as pd

data = {
    "EmployeeID": [1, 2, 3, 4],
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Salary": ["50000", "60000", "55000", "70000"],  # stored as strings
    "Joining_Date": ["2020-01-15", "2019-05-20", "2021-07-10", "2018-03-12"]  # stored as strings
}

df = pd.DataFrame(data)

print("---- Original Employee Dataset ----")
print(df)
print("\nData Types Before Conversion:")
print(df.dtypes)

df["Salary"] = pd.to_numeric(df["Salary"])

df["Joining_Date"] = pd.to_datetime(df["Joining_Date"])

print("\n---- Cleaned Employee Dataset ----")
print(df)
print("\nData Types After Conversion:")
print(df.dtypes)

---- Original Employee Dataset ----
   EmployeeID     Name Salary Joining_Date
0           1    Alice  50000   2020-01-15
1           2      Bob  60000   2019-05-20
2           3  Charlie  55000   2021-07-10
3           4    David  70000   2018-03-12

Data Types Before Conversion:
EmployeeID       int64
Name            object
Salary          object
Joining_Date    object
dtype: object

---- Cleaned Employee Dataset ----
   EmployeeID     Name  Salary Joining_Date
0           1    Alice   50000   2020-01-15
1           2      Bob   60000   2019-05-20
2           3  Charlie   55000   2021-07-10
3           4    David   70000   2018-03-12

Data Types After Conversion:
EmployeeID               int64
Name                    object
Salary                   int64
Joining_Date    datetime64[ns]
dtype: object